<!DOCTYPE html>
<html lang="kor">
<head>
	<link rel="shortcut icon" href="#">
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		#box {
			width: 100px;
			height: 100px;
			background-color: #333;
		}
	</style>
</head>
<body>
	<div id="box"></div>
	<video id="videoDisplay" src="content/2.mp4" controls muted="muted" style="width: 100%;"></video>
	<select id="videoList">
		<option value="1.mp4">1.mp4</option>
		<option value="2.mp4">2.mp4</option>
		<option value="3.mp4">3.mp4</option>
	</select>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/app.js"></script>
</body>
</html>