<!DOCTYPE html>
<html lang="kor">
<head>
	<link rel="shortcut icon" href="#">
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		#box {
			width: 100px;
			height: 100px;
			background-color: #333;
		}
	</style>
</head>
<body>
	<div id="box"></div>
	<video id="videoDisplay" controls muted="muted" style="width: 100%;">
		<source src="content/2.mp4">
	</video>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/app.js"></script>
</body>
</html>